<ion-view title="Special Deals" class="view" ng-cloak>
  <ion-nav-bar class="bar-dark" animation="nav-title-slide-ios7" align-title="center">
    <ion-nav-buttons side="left">
     <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button ng-click="showSearch()" class="button button-icon icon ion-ios-search-strong"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-side-menus>
    <ion-side-menu-content drag-content="false">
      <ion-slide-box on-slide-changed="slideChanged(index)" class="main-slider" delegate-handle="main-slider" show-pager="true">
        <ion-slide on-touch="onTouch()" on-release="onRelease()" class="has-header">
          <ion-content has-bouncing="false">
          <div class="card dailydeal" ng-show="dailyDeal">
            <div class="item item-divider less-padding">
              Daily Deal
            </div>

             <ion-item class="item item-image" >
             <img ng-src="http://cdn.akamai.steamstatic.com/steam/apps/{{dailyDeal.appid}}/header.jpg" >
            </ion-item>

            <div class="item item-text-wrap no-padding">
              <div class="row">
                <div class="col platforms no-padding"><span><i class="icon ion-social-windows"></i></span></div>
                <div class="col discount no-padding">{{dailyDeal.discount}}</div>
              
                <div class="col price no-padding"><strike>{{dailyDeal.originalprice}}</strike>{{dailyDeal.finalprice}}</div>
              </div>
            </div>
          </div>

          <div class="card specialdeals" ng-controller='GalleryCtrl'>
            <div class="item item-divider less-padding">
              {{getDealName()}}
            </div>

            <ion-slide-box does-continue="true" auto-play="true" on-slide-changed="slideChanged(index)" show-pager="false" class="gallery-slider" delegate-handle="gallery-slider">
              <ion-slide ng-repeat='app in featuredDeals' on-touch="onTouch()" on-release="onRelease()">
                <div class="item item-image" ng-click="showAppDetails()">
                  <img ng-src="{{app.imageUrl}}"  alt='Thumbnail'>
                </div>
                <div class="item item-text-wrap no-padding">
                  <div class="item item-text-wrap no-padding">
                    <div class="row">
                      <div class="col platforms no-padding">
                        <span ng-if="app.platforms.windows"><i class="icon ion-social-windows"></i></span>
                        <span ng-if="app.platforms.mac"><i class="icon ion-social-apple"></i></span>
                        <span ng-if="app.platforms.linux"><i class="icon ion-social-tux"></i></span>
                      </div>
                      <div class="col discount no-padding">{{app.discount}}</div>
                    
                      <div class="col price no-padding">
                        <strike>{{app.originalprice}}</strike>
                        {{app.finalprice}}
                         <span class="icon-more"><i class="icon ion-more vertical" ng-click="toggleMore(app, $event)"></i></span>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </ion-slide>

            </ion-slide-box>
        </div>
        </ion-content>
      </ion-slide>

      <ion-slide class="has-header" on-swipe-left="sliding()" on-swipe-right="sliding()" on-swipe-up="scrolling()" on-swipe-down="scrolling()">
        <ion-content has-bouncing="false" overflow-scroll="false">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
          </ion-refresher>
          <div class="card listitem"
            collection-repeat="app in appItems"
            collection-item-width="'49%'"
            collection-item-height="'145px'"
            item-render-buffer="8"
            >
            <a class="details" href="#/appDetails/{{app.appid}}">
              <div class="item item-divider">
                {{app.name}}
              </div>
              <ion-item class="item item-image" >
                <img ng-src="http://cdn.akamai.steamstatic.com/steam/apps/{{app.appid}}/capsule_184x69.jpg">
              </ion-item>
            </a>
            <div class="item item-text-wrap no-padding">
              <div class="row no-padding">
                <span class="col col discount">{{app.discount}}</span>
                <span class="col col-67 price"><strike>{{app.originalprice}}</strike>{{app.finalprice}}</span>
                <span class="col col-10 icon-more" ><i class="icon ion-more vertical" ng-click="toggleMore(app, $event)"></i></span>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-slide>

    </ion-slide-box>
  </ion-side-menu-content>
  
  <ion-side-menu side="left" class="left-menu">
    <ion-list>
      <ion-item class="item item-image">
        <img src="img/spb_options-header.png">
      </ion-item >
      
      <ion-item class="item item-divider">
        Filter
      </ion-item >
      <ion-item ng-click="goToAppDetails()">
        Asd
      </ion-item>
      <ion-item class="item item-divider">
        Settings
      </ion-item >
      <ion-item class="item item-icon-left" ng-click="share()">
        <i class="icon ion-gear-b"></i>
        Settings
      </ion-item >
      <ion-item class="item-icon-left" ng-click="goToAppDetails()">
        <i class="icon ion-help-circled"></i>
        Help &amp; Feedback
      </ion-item>
      
    </ion-list>
  </ion-side-menu>
  </ion-side-menus>
  
  

</ion-view>