<ion-view title="Special Deals" class="view" ng-cloak>
  <ion-nav-bar class="bar-dark" animation="nav-title-slide-ios7" align-title="center">
    <ion-nav-buttons side="left">
     <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-side-menus>
    <ion-side-menu-content drag-content="false">
      <ion-slide-box on-slide-changed="slideChanged(index)" class="main-slider" delegate-handle="main-slider" show-pager="true">
        <ion-slide on-touch="onTouch()" on-release="onRelease()" class="has-header">
          <div id="subheader"></div>
          <ion-content has-bouncing="false">
          <div class="card dailydeal">
            <div class="item item-divider">
              Daily Deal
            </div>

             <ion-item class="item item-image" >
             <img ng-src="http://cdn.akamai.steamstatic.com/steam/apps/{{dailyDeal.appid}}/header.jpg" >
            </ion-item>

            <div class="item item-text-wrap no-padding">
              <div class="row">
              <div class="col discount">{{dailyDeal.discount}}</div>
              
              <div class="col col-50 old-price"><strike>{{dailyDeal.originalprice}}</strike><br>{{dailyDeal.finalprice}}</div>
            </div>
            </div>
          </div>

          <div class="card specialdeals" ng-controller='GalleryCtrl'>
            <div class="item item-divider">
              {{getDealName()}}
            </div>

            <ion-slide-box does-continue="true" auto-play="true" on-slide-changed="slideChanged(index)" show-pager="false" class="gallery-slider" delegate-handle="gallery-slider">
              <ion-slide ng-repeat='app in featuredDeals' on-touch="onTouch()" on-release="onRelease()">
                <div class="item item-image" ng-click="showAppDetails()">
                  <img ng-src="{{app.imageUrl}}"  alt='Thumbnail' holder>
                </div>
                <div class="item item-text-wrap less-padding">
                  {{app.name}}
                </div>
              </ion-slide>

            </ion-slide-box>
        </div>
        </ion-content>
      </ion-slide>

      <ion-slide class="has-header" on-swipe-left="sliding()" on-swipe-right="sliding()" on-swipe-up="scrolling()" on-swipe-down="scrolling()">
        <div id="subheader"></div>
        <ion-content has-bouncing="false" overflow-scroll="false">
          <a class="card listitem" href="#/appDetails/{{app.appid}}"
            collection-repeat="app in appItems"
            collection-item-width="'50%'"
            collection-item-height="'160px'"
            >
            <div class="item item-divider">
              <!-- <i class="icon ion-loading-c" style="font-size: 28px"></i> -->
              {{app.name}}
            </div>
            <ion-item class="item item-image" >
              <img ng-src="http://cdn.akamai.steamstatic.com/steam/apps/{{app.appid}}/capsule_184x69.jpg" holder>
            </ion-item>
            <div class="item item-text-wrap no-padding">
              <div class="row no-padding">
                <div class="col discount">{{app.discount}}</div>
                <div class="col col-50"><strike>{{app.originalprice}}</strike><br>{{app.finalprice}}</div>
              </div>
            </div>
          </a>
        </ion-content>
      </ion-slide>

    </ion-slide-box>
  </ion-side-menu-content>
  
  <ion-side-menu side="left"></ion-side-menu>
  </ion-side-menus>
  
  

</ion-view>