.no-padding {
  padding: 0 !important;
}

.less-padding {
   padding: 5px !important;
}

.main-slider {
  background-color: #00466e;

  &.slider {
    height: 100%;

    .slider-slide {
      //padding-top: 40px;
      color: #000;
      text-align: center;
      font-family: tahoma, Helvetica, Arial, trebuchet ms, sans-serif; 
      font-weight: 300;
    }
  }
}

.has-header {
  top:28px;
}

.bar-dark {
  border-color:#222 !important;
  box-shadow:0 3px 3px #333;
}

 #subheader {
  margin-bottom: 50px;
 } 

 .card {
    //border: 1px grey solid;
 }

 .old-price {
  color:#999;
 }

 .appitem {
    box-shadow:0 3px 6px #333;
    .item-image, .item-text-wrap, .item-divider {
       border:0;
    }
    .item.item-text-wrap {
      min-height:20px;
      padding: 0;
      .row {
        padding: 0;
      }
      .col {
        padding:0;
      }
      .col.discount {
        width:100%;
        text-size:1.2em;
        //margin: 5% 0;
        padding:0px;
        //text-align: right;
        white-space: nowrap;
      }
      .col.col-67 {
        padding-right:2px;
        font-size: 0.9em;
        text-align: right;

        strike {
          color: #333;
          font-size: 0.8em;
        }
      }
      
    }
    
 }

.listitem {
  @extend .appitem;
  text-decoration: none;
  max-width: 47%;
  //max-height: 150px;
  margin: 3px 4px;
  left:4px;
  right:0;
  img {
      max-width:100%;
      height: auto;
    }
  
}

.dailydeal {
  @extend .appitem;
  margin: 0 10px;
  img {
    }
}

.specialdeals {
  @extend .appitem;
  .item.item-text-wrap {
      max-height:30px;
    }
  position:relative;
}

.gallery-slider {
  max-height: 50%;
}

 #placeholder {
   height: 40px;
 }

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;

  ol {
    margin-top: 30px;

    li {
      text-align: left;
      list-style: decimal;
      margin: 10px 0px;
    }
  }
}
